# Java build files
target/
*.class

# Maven files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
out/

# VSCode files
.vscode/

# OS files
.DS_Store
Thumbs.db
